# Path to TDE Data Directory
TDESCORE_DATA=/path/to/tde/data

# Credentials for ZTF Data Access
# Set Backend (ampel or boom)
# ZTF_BACKEND=boom
# Set tokens
# KOWALSKI_TOKEN=your_token_here

BABAMUL_USER=your_username_here
BABAMUL_PASSWORD=your_password_here
BABAMUL_KAFKA_GROUP=your_kafka_group_here

BABAMUL_API_TOKEN=your_api_key_here

BLASTWAVE_DATA_DIR=